@import "../../styles/variables";
@import "../../styles/mixins";

.card {
    width: 180px;
    height: 280px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    place-self: center;
    border: none;
    box-shadow: 0 10px 25px rgba($color: $color-main, $alpha: 0.3);
    transition-duration: 100ms;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 5px 15px 20px rgba($color: $color-main, $alpha: 0.6);
        border: 1px solid $color-light;
    }
    &__fav {
        display: flex;
        justify-content: right;
        align-items: center;
        &__icon {
            position: relative;
            z-index: 0;
            font-size: 1.8rem;
            color: $color-bg;
            &:hover {
                @include hover-fav;
            }
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            transition-duration: 500ms;
            &:hover {
                -webkit-transform: scale(1.3);
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
        h2 {
            position: relative;
            font-size: 1.1rem;
            color: $color-main;
        }
        h3 {
            font-size: 1rem;
            span {
                font-size: 1.2rem;
                font-weight: 700;
                color: $color-second;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        a {
            width: 100px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 20px;
            color: $color-main;
            font-size: 1.2rem;
            font-weight: 700;
            background-color: $color-btn;
            &:hover {
                @include hover-btn;
            }
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

/*-------------  Mobile -------------------*/

@media screen and (max-width: 414px) {
    .card {
        width: 160px;
        margin: 5px;
    }
}
