@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
    display: grid;
    grid-template: 80% 20% / 1fr;
    &__top {
        width: 100vw;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        padding: 20px 0;
        box-shadow: 0 0 1px $color-second;
        color: $color-main;
        &__general {
            width: 170px;
            height: 170px;
            place-self: center;
            padding: 15px;
            margin: 0 40px;
            border: none;
            box-shadow: 0 0 1px $color-second;
            border-radius: 10px;
            list-style: inside;
            ul {
                li {
                    margin: 5px 0;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
            }
            h4 {
                margin: 10px 0;
                font-size: 1.2rem;
            }
        }
        &__social {
            width: 200px;
            height: auto;
            padding: 10px;
            margin: 0 40px;
            border: none;
            box-shadow: 0 0 1px $color-second;
            border-radius: 10px;
            h4 {
                margin-top: 10px;
                font-size: 1.2rem;
            }
            &__list {
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        span {
                            text-decoration: underline;
                            font-weight: 700;
                        }
                    }
                }
                padding: 5px;
                display: inherit;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                list-style: none;
                &__icons {
                    font-size: 2rem;
                    margin: 5px 15px 5px 5px;
                    &:hover {
                        @include hover-icons;
                    }
                }
            }
        }
    }
    &__bottom {
        width: 100vw;
        padding: 15px;
        text-align: center;
        font-weight: 700;
        background-color: $color-second;
        color: #ffffff;
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

/*-------------  Mobile -------------------*/

@media screen and (max-width: 414px) {
    .footer {
        font-size: 1rem;
        &__top {
            grid-template: 1fr 1fr 50% 50% / 1fr;
            &__general {
                width: 80%;
                margin: 20px 40px;
            }
            &__social {
                width: 80%;
                height: 40%;
                justify-self: center;
                &__list {
                    display: flex;
                    flex-direction: row;
                    li {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
