@import "../styles/variables";

.productcard {
    height: 200px;
    width: 200px;
    cursor: pointer;
    color: black;
    margin-right: 10px;
    background-color: red;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    &:hover {
      cursor: pointer;
      opacity: 1;
      box-shadow: 0 0 3px $color-second;
  }
  }