@import "../../styles/variables";
@import "../../styles/mixins";

.container {
    width: auto;
    height: 80px;
    margin: 1rem;
    padding: 1rem;
    &__input {
        width: 29rem;
        height: 3.2rem;
        padding: 10px 50px 10px 35px;
        border-radius: 40px;
        border: none;
        font-size: 1.1rem;
        box-shadow: 2px 2px 25px rgba($color: $color-main, $alpha: 0.3);
        &:focus {
            box-shadow: 0 0 5px $color-second;
        }
    }
    &__searchIcon {
        position: relative;
        top: 2px;
        left: 30px;
        opacity: 0.2;
        font-size: 1.2rem;
    }
    &__searchBtn {
        position: relative;
        right: 40px;
        padding: 15px 35px;
        border-radius: 40px;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-main;
        border: none;
        box-shadow: 0 20px 25px rgba($color: $color-main, $alpha: 0.3);
        background-color: $color-btn;
        &:hover {
            @include hover-btn;
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

/*-------------  Mobile -------------------*/

@media screen and (max-width: 414px) {
    .container {
        width: 100vw;
        height: auto;
        &__input {
            width: 19rem;
            padding: 10px 10px 10px 35px;
        }
        &__searchBtn {
            position: relative;
            top: 40px;
            left: 120px;
        }
    }
}

@media screen and (max-width: 375px) {
    .container {
        &__searchBtn {
            left: 100px;
        }
    }
}
