/* ------------------VARIABLES--------------------*/

$debug-border: 1px solid red;

/* ------------------PALLETE--------------------*/

$color-main: #000839;
$color-second: #005082;
$color-btn: #ffa41b;
$color-light: #00a8cc;
$color-bg: #ebebeb;
