@import "./variables";
@import "./mixins";

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    h1 {
        font-size: 2rem;
        color: $color-btn;
        padding: 10px 0;
    }
    h2 {
        font-size: 1.5rem;
        color: $color-second;
        padding: 5px 0;
    }
    ul {
        font-size: 1.1rem;
        padding: 5px 0;
        color: $color-second;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 100%;
            margin: 5px 0;
            padding: 10px 5px;
        }
        &__checkbox {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            input {
                width: auto;
                margin: 0 5px;
            }
            small {
                font-size: 0.9rem;
                text-align: justify;
                span {
                    margin: 0 5px;
                    font-weight: 700;
                }
            }
        }
        button {
            margin: 1rem;
            @include BtnStyles;
            cursor: pointer;
            &:hover {
                @include hover-btn;
            }
        }
    }
    &__bottom {
        width: 90%;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        span {
            font-size: 1.1rem;
            font-weight: 700;
            color: $color-main;
        }
        a {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 700;
            color: $color-btn;
            &:hover {
                border-bottom: 1px solid $color-btn;
            }
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

/*-------------  Mobile -------------------*/

@media screen and (max-width: 414px) {
    .register {
        width: 100vw;
        font-size: 0.9rem;
        &__form {
            input {
                width: 80%;
                margin: 8px 0;
            }
            &__checkbox {
                width: 60%;
                input {
                    width: auto;
                    margin: 0 5px;
                }
                small {
                    span {
                        margin: 0 5px;
                        font-weight: 700;
                    }
                }
            }
        }
        &__bottom {
            width: 100vw;
            span {
                font-size: 0.9rem;
            }
        }
    }
}
